.header {
    height: 20vh;
    background: #3893c8;
    display: grid;
    grid-template-columns: auto 5vw;
    align-items: center;
}

.header_title {
    margin-left: 2vw;
    font-size: 5vh;
}

.header_button {
    background-color: transparent;
    border: none;
}

.header_image {
    width: 80%;
}

.floating_button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    bottom: 30px;
}